body {
  background: url("../../assets/bg-l.gif");
}

.game-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-header .logo {
  height: 80px;
  pointer-events: none;
}

.game-header span {
  font-size: 30px;
  color: #eeeeee;
  font-weight: 200;
}

@media (prefers-reduced-motion: no-preference) {
  .game-header .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.game {
  width: calc(100% - 20px);
  max-width: 600px;
  margin: 10px auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game .status {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.game .board {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
}

.game .board .square {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 2px solid #282c34;
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
}

.game .game-info li {
  background: #000;
  margin-top: 5px;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.game .game-info li.active {
  background-color: #eeeeee;
  border: 1px solid #282c34;
}

.game .game-info li .index {
  color: #f00;
  font-weight: bold;
}

.game .game-info li .pos {
  color: #eee;
  margin-left: 20px;
}

.game .game-info li.active .pos {
  color: #282c34;
  font-weight: bold;
}

.game .game-info li button {
  max-width: 120px;
  width: 120px;
}





